.sf_chat_msg_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.sf_chat_msg_box::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.sf_chat_msg_box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

.spro-main {
  position: absolute;
  right: 40px;
  top: 100px;
  width: 200px;
  height: 200px;
  background: white;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.568);
  z-index: 100;
  border-radius: 10px;
}

.hide-spro {
  border-radius: 0;
  height: 20px;
  width: 24px;
}

.spro-head {
  border-radius: 10px 0;
  width: 100%;
  background: rgb(10, 18, 128);
  height: 24px;
  position: relative;
  margin-bottom: 8px;
}

.spro-head-close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  background: url(https://chat-sender.ftband.net/favicon.ico) no-repeat;
  background-size: cover;
}

.spro-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;

  background-color: #ddd;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 1)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spro-button:hover {
  background-color: #eee;
  color: #555;
}

.spro-button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.spro-button[disabled],
.spro-button[disabled]:hover,
.spro-button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.bincheker-btn,
.close-key-btn,
.themes-btn {
  display: block;
  width: 90%;
  margin: 8px auto;
  border-radius: 12px;
}

.inContentClose {
  display: none;
}

.close-char {
  color: rgb(6, 7, 66);
  font-size: 1rem;
}

.night-theme-background {
  background: #182839 !important;
  color: white !important;
}

.night-theme-chat-w {
  background: #15212d !important;
  opacity: 0.9;
  border: 2px solid white;
}

/*
unselectable
nano 
sf_chat_footer
*/

.night-theme-white-dialogs {
  background: #223242 !important;
  color: #e9e9e9 !important;
}

.night-theme-white-dialogs:hover {
  background: #e9e9e9 !important;
  color: #272c27 !important;
}

#sndr-wrap
  > div
  > div.sf_chat_holder
  > div
  > div.sf_chat_footer.night-theme-background
  > div.sf_chat_controls.sf_clearfix
  > div
  > div.sf_chat_input_wrap.ps-container.ps-theme-default
  > div.sf_chat_input.night-theme-white {
  background: none !important;
  color: #e9e9e9 !important;
}

#sndr-wrap
  > div
  > div.sf_chat_holder
  > div
  > div.sf_chat_footer.night-theme-background
  > div.sf_chat_controls.sf_clearfix
  > div
  > div.sf_chat_input_wrap.ps-container.ps-theme-default
  > div.sf_chat_input.night-theme-white.sf_console_private {
  color: #ff5f5f !important;
}

#sndr-wrap
  > div
  > div.sf_chat_holder
  > div
  > div.sf_chat_footer.night-theme-background
  > div.sf_chat_controls.sf_clearfix
  > div
  > div.sf_chat_input_wrap.ps-container.ps-theme-default
  > div.sf_chat_input.night-theme-white.sf_console_private:hover {
  color: #ff5f5f !important;
}

.night-avatar {
  border: 0px !important;
}

.night-theme-company {
  color: #e9e9e9 !important;
}

.night-theme-bad {
  background: #4d2e2e !important;
  color: #e9e9e9 !important;
}

.night-theme-oper-only {
  border: 3px solid red !important;
}


/* #0ea4af*/
/*
.dialog-check {
	background: linear-gradient(to right, #f0f7d9 10%, #ff5f5f 90%);
  display: block;
  position: relative;
  padding: 0 15px !important;
}
*/

.wrapper {
	position: relative;
}

.mark {
	top: 0px;
	width: 10px;
	height: 25.99px;
	margin-left: 345px;
	background: #0ea4af	;
	position: absolute;
}

.sf_sidebar_company_chat {
  position: relative;
}

.empty {
	width: 100px !important;	
}
